#############################################################
# Bitcoin
#############################################################
base58==2.1.1
mnemonic==0.20
python-bitcoinlib==0.11.0
pycoin==0.92.20220529

#############################################################
# UI
#############################################################
Kivy==2.1.0
kivymd==1.0.2
pyzbar==0.1.9  # Needed by zbarcam

#############################################################
# Network
#############################################################
requests==2.28.1
urllib3==1.26.13
charset-normalizer==2.1.1
chardet==5.1.0
idna==3.4

#############################################################
# Database
#############################################################
peewee==3.15.2

#############################################################
# Development
#############################################################
pytest==7.2.0  # For unit tests.
mypy==0.991  # For linting python code.
Cython==0.29.32  # Needed by buildozer
types-requests==2.28.11.8

#############################################################
# Android Only
#############################################################
#jnius==1.1.0  # For setting status bar color on Android
